<div id=<%= dom_id(user, :profile) %>>
	<% if user.persisted? %>
		<%= image_tag(user.image, alt: "avatar", class: "rounded-circle img-fluid user-profile-picture") %>
		<p class="h3 mt-3"><%= user.name %></p>
		<p><%= user.email %></p>
	<% else %>
		<div class="rounded-circle user-profile-default-picture"></div>
		<p class="h3 mt-3">Full Name</p>
		<p>some@email.com</p>
	<% end %>
</div>